body{
    font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: "Nunito", sans-serif;
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

.center-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-color{
    color: #c2185b;
}

.text-p{
    color: #6c757d;
}

.max-w-550{
    max-width: 550px;
}

.cursor-pointer{
    cursor: pointer;
}

.navbar{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.navbar-nav .nav-link.active{
    color: #c2185b;
}

.nav-link{
    color: black;
}

.navbar-nav .nav-link:hover{
    color: #c2185b;
}

#home{
    background-image: linear-gradient(rgba(0,0,0,0.8) , rgba(0,0,0,0.7)) , url(../images/header-bg.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    position: relative;
}

#home h2::after{
    content: '|';
    animation: typing 5s ease infinite ;
    -webkit-animation: typing 5s ease infinite ;
}

.up-down{
    width: 2.5rem;
    height: 4.375rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    border: 0.125rem solid white;
    border-radius: 40px;
    margin-bottom: 10px;
    animation: up-down 1s ease infinite alternate;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    -webkit-animation: up-down 1s ease infinite alternate;
}

.up-down::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 10px;
    background-color: white;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
}

@keyframes up-down {
    0% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
}

    100%{
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
}
}

@keyframes typing {
    0% {content: "|";}
    3% {content: "D|";}
    5% {content: "De|";}
    7% {content: "Dev|";}
    10% {content: "Deve|";}
    13% {content: "Devel|";}
    15% {content: "Develo|";}
    17% {content: "Develop|";}
    20% {content: "Developm|";}
    24% {content: "Developme|";}
    25% {content: "Developmen|";}
    27% {content: "Development|";}
    30% {content: "Development|";}
    32% {content: "Developmen|";}
    35% {content: "Developme|";}
    37% {content: "Develop|";}
    40% {content: "Develo|";}
    42% {content: "Devel|";}
    45% {content: "Deve|";}
    47% {content: "Dev|";}
    50% {content: "De|";}
    52% {content: "Des|";}
    55% {content: "Desi|";}
    57% {content: "Desig|";}
    60% {content: "Design|";}
    62% {content: "Designe|";}
    65% {content: "Designer|";}
    67% {content: "Designer|";}
    70% {content: "Designe|";}
    72% {content: "Design|";}
    75% {content: "Desig|";}
    77% {content: "Desi|";}
    80% {content: "Des|";}
    82% {content: "De|";}
    85% {content: "Dev|";}
    87% {content: "Deve|";}
    90% {content: "Devel|";}
    92% {content: "Develo|";}
    95% {content: "Develop|";}
    97% {content: "Develope|";}
    100% {content: "Developer|";}
}

.icon span{
    border: 2px solid #DEE2E6;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    transition: all .8s;
    -webkit-transition: all .8s;
    -moz-transition: all .8s;
    -ms-transition: all .8s;
    -o-transition: all .8s;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.icon span:hover{
    color: #c2185b;
    border: 2px solid #c2185b;
}

.line-ser{
    position: relative;
    padding-bottom: 10px;
}

.line-ser::after{
    content: '';
    position: absolute;
    background-color: #c2185b;
    width: 50px;
    height: 0.1875rem;
    bottom: 0;
    left: 50%;
    transition: all 1s ease;
    transform: translateX(-50%);
    -webkit-transform: translatex(-50%);
    -moz-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    -o-transform: translatex(-50%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
}

.cursor-pointer:hover .line-ser::after{
    width: 4.375rem;
}

#client .carousel-item img{
    width: 120px;
    border: .125rem solid #6c757d;
    padding: .1875rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.carousel-indicators [data-bs-target] {
    width: 12px;
    height: 6px;
    padding: 0;
    background-color: #C2185B;
    border: 1px solid #C2185B;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.carousel-indicators .active {
    opacity: 1;
    width: 30px;
}

#portfolio .overlay {
    opacity: 0;
    transition: opacity 0.4s ease;
    -webkit-transition: opacity 0.4s ease;
    -moz-transition: opacity 0.4s ease;
    -ms-transition: opacity 0.4s ease;
    -o-transition: opacity 0.4s ease;
}

#portfolio .inner:hover .overlay {
    opacity: 1;
}

#portfolio .decription {
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transition: transform 0.5s ease;
    -webkit-transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
    -ms-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
}

#portfolio .inner:hover .decription {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transition-delay: 0.1s; 
}

#portfolio .inner img{
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

#portfolio .inner:hover img{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.nav-pills .nav-link {
    transition: all 0.3s ease-in-out;
}

.nav-link:focus, .nav-link:hover {
    color: #C2185B;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #C2185B;
    border-radius: 30px;
}


.btn-my-btn {
    color: #fff;
    background-color: #C2185B;
}

.btn-my-btn:hover {
    color: #fff;
    background-color: #c2185cb0;
}

.form-control:focus {
    border-color: #C2185B;
    box-shadow: none;
}

footer {
    background-color: #1c1c1c;
    padding: 30px;
    color: #fff;
}
footer p {
    font-size: 13px;
    word-spacing: 2px;
}